<link rel="stylesheet" href="css/style.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
/>

<div style="display: flex">
  <ul class="list_user">
    <% accounts.forEach(account => {%>
    <li>
      <div>
        Username:
        <p><%= account.username%></p>
      </div>
      <div>
        Fullname:
        <p><%= account.full_name%></p>
      </div>
    </li>
    <% }) %>
  </ul>

  <div class="container">
    <div class="container_join">
      <!-- <input type="text" id="name" placeholder="Your Name ..." /> -->
      <!-- Khong can nhap Your Name boi vi co luu lai username ben login.ejs (localStorage) -->
      <input type="text" id="room" placeholder="ID Room ..." />
      <button id="btn_join">Join</button>
    </div>

    <ul id="ul_message">
      <li>
        <span>message</span>
        <div class="choose_emotion">
          <i class="fa-solid fa-face-smile"></i>
        </div>
      </li>
      <li>
        <span>message</span>
        <div class="choose_emotion">
          <i class="fa-solid fa-face-smile"></i>
        </div>
      </li>
      <li>
        <span>message</span>
        <div class="choose_emotion">
          <i class="fa-solid fa-face-smile"></i>
        </div>
      </li>
      <li class="right">
        <span>message</span>
        <div class="choose_emotion">
          <i class="fa-solid fa-face-smile"></i>
        </div>
      </li>
      <li>
        <span>message</span>
          <i onclick="show(event)" class="choose_emotion fa-solid fa-face-smile"></i>
      </li>
      <li class="right">
        <span>message</span>
        <div class="choose_emotion">
          <i class="fa-solid fa-face-smile" style="color: white;">
          </i>
        </div>
      </li>
    </ul>

    <div class="container_send">
      <input type="text" id="ip_message" placeholder="Aa..." />
      <button id="btn_send">Send</button>
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/client.js"></script>
