<link rel="stylesheet" href="css/style.css" />

<div class="container">
  <div class="container_join">
    <!-- <input type="text" id="name" placeholder="Your Name ..." /> -->
     <!-- Khong can nhap Your Name boi vi co luu lai username ben login.ejs (localStorage) -->
    <input type="text" id="room" placeholder="ID Room ..." />
    <button id="btn_join">Join</button>
  </div>


  <ul id="ul_message">
    <li>1</li>
    <li>2</li>
    <li class="right">33333333333333</li>
    <li>4</li>
    <li class="right">5</li>
  </ul>

  <div class="container_send">
    <input type="text" id="ip_message" placeholder="Aa..." />
    <button id="btn_send">Send</button>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/client.js"></script>
