<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
<div style="display: flex;">
    <ul class="list_user">
        <% accounts.forEach(account => {%>

            <li>
                <div>
                    Username: <p><%= account.username %></p>
                </div>
                <div>
                    Fullname: <p><%= account.full_name %></p>
                </div>
            </li>

        <% }); %>

    </ul>

    <div class="container">
        <div class="container_join">
            <input type="text" id="room" placeholder="room">
            <button id="btn_join">Join</button>
        </div>

    
        <ul id="ul_message">
            <div class="image_user">
                <img src="https://hoanghamobile.com/tin-tuc/wp-content/uploads/2024/09/anh-nen-dien-thoai-4k-25.jpg" alt="" id="img_user" name="img_user">
                <p>User người dùng</p>
            </div>
            <!-- <li>
                <span>
                    <p>tin nhan</p>
                </span>
                <i onclick="show(event)" class="choose_emotion fa-solid fa-face-smile-beam"></i>
            </li>
            <li>
                <span>
                    <p>tin nhan</p>
                </span>
                <i onclick="show(event)" class="choose_emotion fa-solid fa-face-smile-beam"></i>
            </li>
            <li class="right">
                <span>
                    <p>tin nhan</p>
                </span>
                <i onclick="show(event)" class="choose_emotion fa-solid fa-face-smile-beam"></i>
            </li>
            <li>
                <span>
                    <p>tin nhan</p>
                </span>
                <i onclick="show(event)" class="choose_emotion fa-solid fa-face-smile-beam"></i>
            </li> -->
            
        </ul>

        <div class="container_send">
            <input type="text" id="ip_message" placeholder="message">
            <img style="width: 20%; display: none;" alt="">
            <input style="width: 20%;" type="file" id="ip_image">
            <button id="btn_send">Gửi</button>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="js/client.js"></script>