<link rel="stylesheet" href="css/style.css">

<div class="container">
    <div class="container_join">
        <input type="text" id="name" placeholder="your name">
        <input type="text" id="room" placeholder="room">
        <button id="btn_join">Join</button>
    </div>


    <ul id="ul_message">
        <li>ddddd</li>
        <li>sssss</li>
        <li>ffffff</li>
        <li>wwwww</li>
        <li class="right">rrrr</li>
        <li>qqqq</li>
    </ul>
    <div class="container_send">
        <input type="text" id="ip_message" placeholder="message">
        <button id="btn_send">Send</button>
    </div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/client.js"></script>