body,*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
}

.container{
    width: 400px;
    height: 100vh;
    margin: 0 auto;
    padding: 10px;
    background-color: azure;
    box-sizing: border-box;
}
.container_join{
    width: 100%;
    height: 5%;
    display: flex;
}
.container_join input{
    width: 80%;
    padding: 10px;
}
.container button{
    width: 20%;
    padding: 10px;
}

#ul_message{
    list-style: none;
    width: 100%;
    height: 90%;
    overflow: scroll;
}

#ul_message li{
    display: flex;
    align-items: center;
    margin-top: 5px;
}

#ul_message li span{
    position: relative;
}

#ul_message li span p{
    width: fit-content;
    background-image: linear-gradient(rgb(71, 179, 187),rgb(184, 184, 75),rgb(59, 159, 166));
    padding: 5px;
    color: wheat;
    border-radius: 10px;
    float: left;
    clear: both;
}

#ul_message li:hover .choose_emotion{
    display: block !important;
}
.choose_emotion{
    margin: 0 5px;
    display: none !important;
    position: relative;
}

.emtions {
    display: flex;
    background-color: #333;
    padding: 5px;
    border-radius: 12px;
    position: absolute;
    bottom: 20px;

}
.emtions i{
    margin: 5px;
    transition: linear 0.2s;
}

.emtions i:hover{
    transform: scale(1.5);
}


.right {
    flex-direction: row-reverse;
}
 
.right .choose_emotion .emtions{
    right: 5px;
}

.container_send{
    width: 100%;
    display: flex;
}

#ip_message{
    width: 80%;
    padding: 10px;
}

#btn_send{
    width: 20%;
    padding: 10px;
    height: 5%;
}

/* List user css */
.list_user{
    list-style: none;
    background-color: azure;
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
    overflow: scroll;
}
.list_user li{
    background-color: cyan;
    border-radius: 10px;
    padding: 16px;
    margin-top: 10px;
}
.list_user li div{
    display: flex;
}

.image_user img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 5px auto;
}

.image_user p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}